ASPNETCORE_ENVIRONMENT=change_to_real
SUPABASE_DB_PASSWORD=change_to_real
JWT_SECRET_KEY=change_to_real
JwtConfig__TokenValidityMins=change_to_real
JwtConfig__Issuer=change_to_real
JwtConfig__Audience=change_to_real
CONNECTION_STRING=change_to_real
