# Postgres database password
DB_PASSWORD=skift_mig_til_staerkt_password
SUPABASE_DB_PASSWORD=SUPER_SECRET_AND_LONG_DEVELOPMENT_PASSWORD_MINIMUM_32_CHARACTERS

# JWT Configuration
JwtConfig__Key=SUPER_SECRET_AND_LONG_DEVELOPMENT_PASSWORD_MINIMUM_32_CHARACTERS
JwtConfig__TokenValidityMins=60

JwtConfig__Issuer=issuer
JwtConfig__Audience=audience