# C# / .NET
bin/
obj/
*.user
*.suo
.vs/
publish/
*.zip
/packages/
riderModule.iml
/_ReSharper.Caches/

# Node / React
node_modules/
dist/
build/

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# ENV
.env
*.txt